.App {
	border: 3px solid black;
	margin: 3px;
	padding: 10px;
}

/* body {
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	font-family: 'Lato', sans-serif; 
} */

/* .container {
	margin: 30px auto;
	width: 350px;
} */

.plus {
	color: #60b24e;
}

.minus {
	color: #f43d3d;
}
h1 {
	letter-spacing: 1px;
	margin: 0;
}
/* 
.delete-btn {
	cursor: pointer;
	background-color: #e74c3c;
	border: 0;
	color: #fff;
	font-size: 20px;
	line-height: 20px;
	padding: 2px 5px;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
	opacity: 1;
}

.btn:focus,
.delete-btn:focus {
	outline: 0;
}

.list li {
	list-style-type: none;
	background-color: #fff;
	box-shadow: var(--box-shadow);
	justify-content: space-between;
	position: relative;
	padding: 10px 0;
	margin: 10px 0;
}

ul {
	padding-inline-start: 5px;
}

label {
	display: inline-block;
	margin: 10px 0;
}

input[type='text'],
input[type='number'] {
	border: 1px solid #dedede;
	border-radius: 2px;
	display: block;
	font-size: 16px;
	padding: 10px;
	width: 100%;
}

.btn {
	cursor: pointer;
	background-color: #9c88ff;
	box-shadow: var(--box-shadow);
	color: #fff;
	border: 0;
	display: block;
	font-size: 16px;
	margin: 10px 0 30px;
	padding: 10px;
	width: 100%;
} */
